*{/*Fonts*/
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{/*Scrolling*/
    scroll-behavior: smooth;
}
body{/*theme*/
    background: #B0E0E6;
    color: black;
}
#header{/*header*/
    width: 100%;
    height: 100vh;
    background-image: url(Assets/UI/background.png); /*TODO:*/
    background-size: cover;
    background-position: center;
}
.container{/*padded perimeter*/
    padding: 10px 10%;

}
nav{/*behavior of tabs on top*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{/*the image of the tabs*/
    width: 140px;
}
nav ul li{/*spacing of tabs*/
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{/*color & size of tabs*/
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{/*effects when hovering over a tab*/
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{/*animats underline effect when hovering over tab*/
    width: 100%;
}
.header-text{/*header text stuff*/
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{/*header text stuff*/
    font-size: 60px;
    margin-top: 20px;
}
/* -------------about---------------- */
#about{/*padding & color*/
    padding: 80px 0;
    color: white; /*TODO:*/
}
.row{/*sets the row*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{/*width of TXT col*/
    flex-basis: 35%;
}
.about-col-2{/*width of IMG col*/
    flex-basis: 60%;
}
.about-col-2 img{/*full img captured w/ round corners*/
    width: 100%;
    border-radius: 15px;
}
.sub-title{/*size & color of section title*/
    font-size: 50px;
    font-weight: 600;
    color: black; /*TODO:*/
}/*
.tab-titles{sets the tabs
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{styles & makes the tab buttons
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{adds underline animation effect
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{expands underline when tab is active
    width: 50%;
}
.tab-contents ul li{lists items under active tab
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{styles bullet txt under active tab
    color: rgba(202, 202, 202, 0);
    font-size: 17px;
}
.tab-contents{initially hides tab content
    display: none;
}
.tab-contents.active-tab{displays tab content when active
    display: block;
}*/
/* ---------portfolio--------- */
#portfolio{/*parimeter of portfolio section*/
    padding: 50px 0;
}
.work-exp{/*TODO:grid style for proj*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{/*styles project section with round edges, hides overflow content*/
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{/*img of proj/re responsive & animated when hover*/
    width: 100%;
    border-radius: 10px;
    /*display: block;*/
    /*transition: transform 0.5s;*/
}/*
.layer{overlay effect for portfolio items
    width: 100%;
    height: 0%;
    background: linear-gradient(#d2b48c, white); when hover transition in bg color for overlay section
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; gradient bg color from up/down
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{txt in overlay
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{STYLES call to action button in overlay
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #d2b48c;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.work:hover img{enalarges img while hover behind ovelay
    transform: scale(1.1);
}
.work:hover .layer{display overlay when hover
    height: 100%;
}*/
/* ---------contact------ */
.contact{
    flex-basis: 100%;
}
.contact p{/*spacing for paragraphs*/
    margin-top: 30px;
}
.copyright{/*styles copyright section*/
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #d2b48c;
    font-weight: 300;
    margin-top: 20px;
}